.matche-update{ 
    font-family: El Messiri;
    color: red;
    //     font-weight: 600;
        font-size: 16px;
}
.avert-update{ 
    font-family: El Messiri;
}
.but-update{ 
    font-family: El Messiri;
}
.changement-update{ 
    font-family: El Messiri;
}