nav {
  // font-size: 14px;
  // font-style: normal;
  // font-weight: 900;
  padding-top: 50px;
  height: 100%;

  // position: fixed;
  .nav-part-3 {
    height: 60%;
  }

  ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }
}


.footer {
  bottom: 0;
}

.brand {
  position: flex;
  top: 0;
}

@media screen and (max-width: 815px){
  .navbar-top{
    .select-menu{
      min-width: 56px;
    }
  }
}