@keyframes movescrolldown {
    from {padding-bottom: 0; opacity: 0;}
    to {padding-bottom: 30px; opacity: 1;}
}

.sections{
    background-color: #0b0b0e;
    margin: 0;
    transition: background-color 2s ease;
    z-index: 0;
    .section-parent{
        height: 100vh;
        display: flex;
        margin: 0;
        align-items: center;
        flex-wrap: nowrap;

        .title{
            font-size: xxx-large;
            font-weight: 900;
            margin-bottom: 45px;
            font-family: 'El Messiri';
            background-color: rgb(255 255 255 / 50%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            z-index: 1;
            display: inline-block;
            position:relative;

            &::before{
                content: 'من نحن';
                top: -100px;
                position: absolute;
                background: linear-gradient(90deg, transparent,rgba(255, 255, 255, .4), transparent);
                z-index: -1;
                width: 160px;
                height: 58px;
                transition: .5s;
                opacity: 0;
                background-clip: text;
                -webkit-background-clip: text;
            }
            &:hover::before{
                top: 0px;
                opacity: 1;
                color: #ffffff;
            }
        }
                
        }
    
        .home-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin-top: -10px;
            font-family: "Bebas Neue", sans-serif;

           
                p {
                    font-weight: 500;
                    font-size: 56px;
                    margin-top: -39px !important;
                    z-index: 2;
                    &.text-arab{
                        font-family: "El Messiri";
                    }
                }
                .scroll-down{
                    position: absolute;
                    bottom: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    opacity: 0;
                    gap: 25px;
                    animation-name: movescrolldown;
                    animation-duration: 1s;
                    animation-delay: 3s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate ;
                    animation-timing-function: ease-in-out;
                    & p{
                        font-size: larger;
                        color: white;
                        font-family: 'El Messiri';
                    }
                }
                .blob-home{
                    position: absolute;
                    height: 300px;
                    width: 300px;
                    display: flex;
                    align-items: center;
                    background: conic-gradient(yellow, red );
                    filter: blur(60px);
                    z-index: 1;
                    opacity: 0.1;
                    border-radius: 50%;
                }
        }     
        
        .about-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: "Bebas Neue", sans-serif;
            padding: 0 100px;
            text-align: justify;
            &:hover .title::before{
                top: 0px;
                opacity: 1;
                color: #ffffff;
            }
            .text-arab {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 30px;
                    font-family: "El Messiri";
                   
                }
                .blob_1{
                    position: absolute;
                    height: 300px;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: conic-gradient(rgb(61, 61, 61), rgba(5, 20, 153, 0.29));
                    filter: blur(100px);
                    z-index: 1;
                    opacity: 0.2;
                    }
                .blob_2{
                    position: absolute;
                    height: 70px;
                    width: 70px;
                    top: 0;
                    left: -10px;
                    background: conic-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
                    filter: blur(60px);
                    z-index: 1;
                    opacity: 0.2;
                }
        }  

        .services-section{
            height: 70%;
            display: flex;
            justify-content: center;
            .cards{
                display: flex;
                justify-content: center;
                height: 100%;
                width: fit-content;
                gap: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 16px;

                & div:first-child{
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
                & div:last-child{
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
                div{
                    background-color: #ffffff;
                    width: 150px;
                    height: 100%;
                    transition: 2s;
                    position: relative;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    direction: rtl;
                    span{
                        font-family: "Bebas Neue", sans-serif;
                    }
                    label{
                        position: absolute;
                        rotate: -90deg;
                        width: 427px;
                        display: flex;
                        justify-content: center;
                        font-size: 37px;
                        font-weight: 900;
                        opacity: 1;
                        transition:  0.5s;
                        align-items: center;
                        text-align: center;
                    }
                    p{
                        position: absolute;
                        top: 70%;
                        opacity: 0;
                        padding: 0 20px;
                        transition: 0s;
                        bottom: 0;
                        font-size: 18px;
                        text-align: justify;
                        z-index: 0;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.7);
                        bottom: 0;
                        height: 0px;
                        width: 100%;
                        z-index: 1;
                        opacity: 0;
                        transition: height 3s ease;
                        z-index: 0;
                    }
                 
                    &.form:hover{
                        width: 500px;
                        background-image: url('../../public/img/data.png');
                        background-size: 100% 130%;
                        background-position: right top;
                        transition: 1s;
                        label{
                            opacity: 0;
                            transition:  0.1s;
                        }
                        p{
                            // display: block;
                            opacity: 1;
                            top: 60%;
                            transition: opacity 3s ease 1s, top 2s ease 1s;
                            color: #ffffff;
                        }
                        &::after{
                            z-index: -1;
                            opacity: 1;
                            height: 50%;
                            transition: height 2s ease;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                            border-bottom-left-radius: 20px;
                        }
                    }
                    &.print:hover{
                        width: 500px;
                        background-image: url('../../public/img/ajoute.jpg');
                        background-size: cover;
                        background-position: start;
                        transition: 1s;
                        &::after{
                            z-index: -1;
                            opacity: 1;
                            height: 50%;
                            transition: height 2s ease;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                        label{
                            opacity: 0;
                            transition:  0.1s;
                        }
                        p{
                            opacity: 1;
                            top: 65%;
                            transition: opacity 3s ease 1s, top 2s ease 1s;
                            color: #ffffff;
                        }
                    }
                    &.save:hover{
                        width: 500px;
                        background-image: url('../../public/img/analyse.jpg');
                        background-size: cover;
                        background-position: start;
                        transition: 1s;
                        &::after{
                            z-index: -1;
                            opacity: 1;
                            height: 50%;
                            transition: height 2s ease;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                        label{
                            opacity: 0;
                            transition:  0.1s;
                        }
                        p{
                            opacity: 1;
                            top: 65%;
                            transition: opacity 3s ease 1s, top 2s ease 1s;
                            color: #ffffff;
                        }
                    }
                    &.analyse:hover{
                        width: 500px;
                        background-image: url('../../public/img/rapportpdf.jpg');
                        background-size: 120% 100%;
                        background-position: center;
                        transition: 1s;
                        &::after{
                            z-index: -1;
                            opacity: 1;
                            height: 50%;
                            transition: height 2s ease;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                       
                        label{
                            opacity: 0;
                            transition:  0.1s;
                        }
                        p{
                            opacity: 1;
                            top: 65%;
                            transition: opacity 3s ease 1s, top 2s ease 1s;
                            color: #ffffff;
                        }
                    }
                    &.but:hover{
                        width: 500px;
                        background-image: url('../../public/img/refree.jpg');
                        background-size: cover;
                        background-position: center;
                        transition: 1s;
                        &::after{
                            z-index: -1;
                            opacity: 1;
                            height: 50%;
                            transition: height 2s ease;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }
                        label{
                            opacity: 0;
                            transition:  0.1s;
                        }
                        p{
                            opacity: 1;
                            top: 65%;
                            transition: opacity 3s ease 1s, top 2s ease 1s;
                            color: #ffffff;
                        }
                    }
                    
                }
             }
        }

        .letsgo-section{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .image{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;

                .letsgo{
                    position: absolute;
                right: 50%;
                

                }
                img{
                    background-color: rgb(251, 171, 0);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    height: 350px;
                    border-radius: 15px;
                    z-index: 1;       
                }
                &:hover{
                    .letsgo{
                        right: 20%;
                        transition: right 1s ease;
                    }
                }       
            }
        }
        
    .footer{
        height: 100vh;
        background-color: aqua;
    }  
}