.detailleRapport {
  margin-top: 50px;
  padding: 25px;
  font-family: 'Noto Naskh Arabic', serif;
  color: #000;
  /* font-family: amiri; */
}

/* .detailleRapport h1 {
  font-family: 'El Messiri', sans-serif;
} */

.detailleRapport .images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: #000;
}


.detailleRapport .images div:nth-of-type(1) {
  margin-left: 10px;
  margin-right: 20px;
}

.detailleRapport .images div:nth-of-type(2) {
  margin-right: 10px;
  margin-left: 20px;
  font-family: "Inria Sans", sans-serif;
}

.detailleRapport .images p {
  margin: 0;
}

.detailleRapport .images p:nth-child(1) {
  font-size: larger;
  line-height: 19px;
}

.detailleRapport .images p:nth-child(2) {
  font-size: 17px;
}

.detailleRapport .images p:nth-child(3) {
  font-size: 11px;
}

.detailleRapport .images img {
  height: 100px;
}

.detailleRapport .rapport-title {
  background-color: rgba(50%, 50%, 50%, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 5px;
  font-family: amiri;
}

.detailleRapport .rapport-title h3 {
  margin: 0;
  font-family: 'Noto Naskh Arabic', serif;
}

.detailleRapport .table {
  font-size: 14px;
  color: #000;
}

.detailleRapport .table .th {
  background-color: rgb(203 203 203 / 50%);
  text-align: center;
}

.detailleRapport .sub-table-1 {
  width: 49.5%;
}

.detailleRapport .sub-table-1 .th-border {
  border-left-color: rgb(203 203 203 / 50%);
}

.detailleRapport .sub-table-2 {
  width: 50.5%;
}

.detailleRapport .sub-table-2 .th-border {
  border-right-color: rgb(203 203 203 / 50%);
  color: rgb(229 229 229 / 50%);
}

.expl-content02 {
  display: flex;
}

.expl-content02 p {
  font-size: 12px;
  padding: 5px 15px;
  background-color: rgb(203 203 203 / 50%);
  border-radius: 14px;
}

.ligne {
  border-bottom: 1.5px solid rgb(203 203 203 / 50%);
  width: 100%;
  margin-bottom: 25px;
}

.signature {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media screen and (max-width: 815px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -1rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 115px;
    height: 17px;
    opacity: 0.5;
    position: absolute;
    top: 17px;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    right: 53px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 74.01px;
  }

  .detailleRapport .sub-table-2 {
    width: 78.5px;
  }
}

.btn_print {
  border-radius: 5px;
  border: solid 3px;
  background-color: #fff;
  border-color: #6C7293;
}

.btn_print:hover {
  background-color: #c0c0c0;
  border: solid 3px;
}

.btn_print i:hover {
  color: #000;
}

@media screen and (max-width: 800px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 4rem;
    height: 5rem;
    opacity: 0.5;
    position: absolute;
    top: 4px;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    right: 53px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 9rem;
  }

  .detailleRapport .sub-table-2 {
    width: 9rem;
  }
}

@media screen and (max-width: 766px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    width: 4rem;
    height: 5rem;
    opacity: 0.5;
    position: absolute;
    top: 4px;
  }

  .detailleRapport .images .titleLigue {
    width: 115px;
    height: 17px;
    opacity: 0.5;
    position: absolute;
    top: 17px;
  }

  /* .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    left: 53px;
    width: 111px;
  } */

  .detailleRapport .sub-table-1 {
    width: 255px;
  }

  .detailleRapport .sub-table-2 {
    width: 261px;
  }
}

@media screen and (max-width: 574px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 4rem;
        height: 5rem;
        opacity: 0.5;
        position: absolute;
        top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    left: 53px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 221px;
  }

  .detailleRapport .sub-table-2 {
    width: 225px;
  }
}

@media screen and (max-width: 430px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 3rem;
    height: 4rem;
    opacity: 0.5;
    position: absolute;
    top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    right: 108px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 151px;
  }

  .detailleRapport .sub-table-2 {
    width: 139px;
  }
}

@media screen and (max-width: 415px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 3rem;
    height: 4rem;
    opacity: 0.5;
    position: absolute;
    top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    right: 97px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 145px;
  }

  .detailleRapport .sub-table-2 {
    width: 147px;
  }
}

@media screen and (max-width: 412px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 3rem;
    height: 4rem;
    opacity: 0.5;
    position: absolute;
    top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    left: 53px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 143px;
  }

  .detailleRapport .sub-table-2 {
    width: 147px;
  }
}

@media screen and (max-width: 391px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 3rem;
    height: 4rem;
    opacity: 0.5;
    position: absolute;
    top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    left: 53px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 132px;
  }

  .detailleRapport .sub-table-2 {
    width: 124px;
  }
}

@media screen and (max-width: 376px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 3rem;
    height: 4rem;
    opacity: 0.5;
    position: absolute;
    top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    right: 90px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 129px;
  }

  .detailleRapport .sub-table-2 {
    width: 112px;
  }
}

@media screen and (max-width: 360px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 3rem;
    height: 4rem;
    opacity: 0.5;
    position: absolute;
    top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    right: 70px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 117.5px;
  }

  .detailleRapport .sub-table-2 {
    width: 121px;
  }
}

@media screen and (max-width: 320px) {
  .detailleRapport .images {
    display: block;
    position: relative;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .detailleRapport .images .logoLigue {
    position: absolute;
    left: 0px;
    top: -6rem;
    width: 100px;
    height: 50px;
  }

  .detailleRapport .images .titleLigue {
    width: 3rem;
    height: 4rem;
    opacity: 0.5;
    position: absolute;
    top: -6rem;
  }

  .detailleRapport .images .title_rapport {
    margin-top: 7rem !important;
  }


  .detailleRapport .images .title_rapport_fr {
    margin-top: 1rem !important;
  }

  .detailleRapport .images h1 {
    font-family: "El Messiri", sans-serif;
    position: absolute;
    top: 67px;
    font-size: small;
    right: 59px;
    width: 111px;
  }

  .detailleRapport .sub-table-1 {
    width: 123px;
  }

  .detailleRapport .sub-table-2 {
    width: 63px;
  }
}